.table-containerr {
  overflow: auto;

  margin-top: 10px;
  padding: 10px;
  width: 450px;
  max-width: 98%;
  margin-bottom: 80px;
  
}

.table-containerrrr {
  overflow: auto;

  width: 450px;
  max-width: 100%;

  
}


.table-containerr thead th {

  color: white;

}

.attendance-card{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: rgb(234, 234, 234);
  display: flex;
  align-items: center;

}

.summary-table{
  max-width: 500px;
  margin-bottom: 70px;
 
  
  display: flex;
  align-items: center;
  flex-direction: column;
}
.innerTableData{
  font-size: 12px;
  
}

.subjectNames{
  font-size: 12px;
  font-weight: bolder;
}
.percentageStyle{
  font-weight: bolder;
}

.table-att{
  color:'white'
}


.table-containerrr {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.react-tabs__tab {
  padding-bottom: 5px;
  border-bottom: 1px solid #c6c6c6;
  transition: border-bottom 0.2s color 0.2s;
  padding-bottom: 5px;
  outline: none; font-weight: 400;
}

.react-tabs__tab--selected {
  border-bottom: 2px solid #9c27b0;
  background-color: #ffffff;
  color: #9c27b0;
  transition: border-bottom 0.2s color 0.2s;
  font-weight: 500;
  padding-bottom: 4px;
}
 
.react-tabs__tab-list {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
}

.react-tabs__tab-list {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  
}
