.attendanceCard{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 6px rgba(0,0,0,.04);
  }

  .contentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }  

  .container{

    width: 600px;
    max-width: 95vw;
  }


.attendanceTable{
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 6px rgba(0,0,0,.04);
  border-radius:10px;
  padding: 10px;
  font-family: 'Poppins';
  align-items: center;

  
}

.tableHead{
  text-align: center;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  color: #333;
  padding: 5px;
  border-bottom: 1px solid #f3f3f3;
}

.tableData{
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #f3f3f3;
  font-family: 'Poppins';
  font-size: 12px;
}

.tableSubject{
   padding: 5px;
   padding-left: 10px;
   text-align: left;
   border-bottom: 1px solid #f3f3f3;
   font-family: 'Poppins';
   font-size: 12px;
   width: 40vw;
   max-width: 40vw;

}

.cardContainer {
  display: flex;
  flex-direction: column;
  
  margin-bottom: 12px;
  width: 100%;
}

.connector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-left: 10px;
}

.circle {
  width: 10px;
  height: 10px;
  background-color: rgb(29, 78, 216);
  border-radius: 50%;
}

.line {
  width: 2px;
  min-width: 2px;
  height: 100%;
  background-color: rgb(29, 78, 216);
  margin-left: 15px;
}

.dateText {
  flex: 1;
  margin-left: 10px;
}



.lineCard{
  display: flex;
  flex-direction: row;
}


.card{
  margin: 10px;
  width: 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(0, 0, 0, 0.04);
  position: relative;
  background-color: white;
  border-radius: 5px;
}