.attendanceCard{
    padding: 10px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 20px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 6px rgba(0,0,0,.04);
  }

  .contentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }  

  .container{

    width: 450px;
    max-width: 95vw;
  }


.attendanceTable{
  background-color: white;
  box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 6px rgba(0,0,0,.04);
  border-radius:10px;
  padding: 10px;
  font-family: 'Poppins';
  align-items: center;
  
}

.tableHead{
  text-align: center;
  background-color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  color: #333;
  padding: 5px;
  border-bottom: 1px solid #f3f3f3;
}

.tableData{
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid #f3f3f3;
  font-family: 'Poppins';
}

.tableSubject{
   padding: 5px;
   padding-left: 10px;
   text-align: left;
   border-bottom: 1px solid #f3f3f3;
   font-family: 'Poppins';
   font-size: 12px;
   width: 40vw;
   max-width: 40vw;

}