.react-tabs__tab {
  padding: 5px;
  outline: none; font-weight: 400;
  background-color: #ebebeb;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  font-family: 'Poppins';
  color: '#666'

}

.react-tabs__tab--selected {

  background-color: rgb(255, 255, 255);
  transition: border-bottom 0.2s color 0.2s;
  font-weight: 500;
  color: #1B4DFF;
  border-radius: 10px;
}
 

.react-tabs__tab-list {
  display: flex;
  list-style: none;
  padding: 0;
  align-items: center;
  box-shadow: 0 0 0 1px rgba(0,0,0,.08), 0 4px 6px rgba(0,0,0,.04);
  background-color: #ebebeb;
  color: #666
  
}



.css-1aquho2-MuiTabs-indicator{
  background-color: #1B4DFF;
}

.MuiTabs-scrollButtons.Mui-disabled {
  opacity: 0.3;
}
