.navBar{
    position: fixed;
    background-color: rgb(255, 255, 255);
    display: flex;
    z-index: 1;
    box-shadow: 0 0 0 1px #00000014, 6px 4px 6px rgba(0, 0, 0, 0.1);
}

.pageContainer{
    background-color: #fafafa;
    min-height: 100vh;
    padding-bottom: 60px;
}




@media (min-width: 768px) {

    .navItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        margin: 5px;
        gap: 5px;
        color: #474747;
        font-size: 14px;
    }

        /* for desktop view */
        .navLogo{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #00000014;
        }
    
        .navBar{
            flex-direction: column;
            top: 0;
            left: 0;
            border-right: 1px solid #dddddd ;
            height: 100vh;
            width: 80px;
            box-shadow: 4px 0 5px rgba(232, 232, 232, 0.1);
        }
    
        .pageContainer{
            margin-left: 80px;
        }

    .navItem{
        flex-direction: column;
        justify-content: left;
        padding: 10px;
        border-radius: 5px;
        font-size: 10px;

    }

    .navItem:hover{
        background-color: #f6f6f6;
    }

    .navItemActive{
        display: flex;
        margin: 5px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        gap: 5px;
        background-color: #e9edff;
        color: rgb(39, 86, 255);
        justify-content: left;
        padding: 10px;
        border-radius: 5px;
        font-size: 10px;
        
        
    }
}

@media (max-width: 768px) {
    
    .pageContainer{
        background-color: #fafafa;
        min-height: 100vh;
        padding-bottom: 60px;
        padding-top: 55px;
    }

    .navLogo{
        display: none;
    }

    .navText{
        display: none;
    }

    /* for mobile view */
    .navBar{
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content: space-between;
        width: 100vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 3vw;
        padding-right: 3vw;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
       
    }

    .navItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        color: hsl(0, 0%, 45%);
        font-size: 12px;
        height: 6vh;
        width: 12.5vw;
        min-height: 40px ;
        border-radius: 50%;
        margin: 6px 0px;

    }

    .navItemActive {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-weight: 500;
        color: #1B4DFF;
        font-size: 12px;   
        height: 6vh;
        width: 30vw;
        min-height: 40px;
        background-color: #F2F5FF;
        border-radius: 25px;
        margin: 6px 0px;
        transition: color 0.15s ease-in;
    }
    
    .loaded {
        opacity: 1; /* fade-in effect when loaded class is present */
    }

    .navTextActive{
        display: block;
    }


}
