.OuterLayer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotateX(58deg);
}

.blendingWrapper {
  /*This way, the LogoShapeLayer1, LogoShapeLayer2, and LogoShapeLayer3 will blend with each other, but not with the OuterLayer's background color*/
  isolation: isolate;
  display: flex;
  flex-direction: column-reverse;
}

.LogoShapeLayer3 {
  height: 150px;
  width: 150px;
  border-radius: 7px;
  rotate: 45deg;
  background-color: #0577fb;
  box-shadow: 5px 5px 0 20px white;
}

.LogoShapeLayer2 {
  height: 150px;
  width: 150px;
  border-radius: 7px;
  rotate: 45deg;
  margin-bottom: -60px;
  background-color: #0577fb;
  box-shadow: 5px 5px 0 20px white;
}

.LogoShapeLayer1 {
  height: 150px;
  width: 150px;
  border-radius: 7px;
  rotate: 45deg;
  margin-bottom: -60px;
  background-color: #0577fb;
  box-shadow: 5px 5px 0 20px white;
}
