
.contentContainer {
    display: flex;
    align-items: center;
    flex-direction: column;

    
  }  

  .container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 550px;
    max-width: 95vw;
    align-items: center;
    justify-content: center;
  }


.assignmentTable{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    border-radius: 10px;
    width: 95%;
    background-color: white;
    max-width: 550px;
    height: calc(100vh - 230px);
    border: 1px dashed #00000037;

  

  
}


