
.topNavbar{
        width: 100vw;
        height: 7vh;
        min-height: 50px;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 4px 6px rgba(0, 0, 0, 0.04);
    }





.container {
    display: block; /* Initially, the container is displayed */
  

    }
    
@media (min-width: 769px) {
    .container {
      display: none; 
    }
}